.divmae{
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 10px;
}

.formLogin2{
  margin-top: 100px;
  width: 300px;
  height: 400px;
  padding: 10px;
  display:inline-block;
  background-color: pink;
  box-shadow: 0 0 1em purple;
}
.inputLogin{
  width: 200px;
 }
button{
  margin-top: 20px;
  width: 200px;
  box-shadow: 0 0 1em purple;
  background-color: white;
}