.listMovies {
  justify-content: center;
  background-color: pink;
  display: flex;
  width: 100%;
  padding: 30px;
}

ul {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

li {
  padding: 10px;
}

h1 {
  width: 100px;
  background-color: #D3D3D3
}

.paginaHome {
  display: inline-flex;
  justify-content: space-around;

}

.listMovies figure{
background-color:orange ;
  left: 100%;
  float:left
}