.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.navegador {
  display: flex;
  width: 50%;
  height: 70%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 1em pink;
  border: 2px solid white;
  justify-content: space-between;
}

.title {
  border: 2px solid plum;
  text-align: center;
  height: 10%;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
}

.title2 {
  border: 2px solid plum;
  text-align: center;
  height: 10%;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 10px;
  margin-left: 30px;
}

.listMovies {
  border: 1px solid plum;
  width: 50%;
  height: 70%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 1em pink;

}
li{
  display: flex;
  justify-content: space-between;
}
h1,
h2 {
  padding: 10px;
}