.tela {
  justify-content: center;
  width: 50%;
  height: 50%;
}

.abrir {
  margin-top: 0;
  background-color: plum;
  border: 1px solid white;

}

.modal input {
  margin-top: 10px;
  padding: 20px;
  border-radius: 20%;
  border: 1px solid plum; 
  color:black;
}

.modal {
  width: 50%;
  border: 1px solid black;
  border-radius: 3px;
  margin: auto 0;
  box-shadow: 1px 3px 10px -3px black;
  display: block;

}

.modal header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: pink;
}


.mdoal h1 p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-container {
  width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  overflow: auto;
  justify-content: right
}

.close {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: purple;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: purple
}

nav {
  margin-top: 20%;
}

.enviar {
  width: 100px;
  height: 0%;
  margin-top: 0;
  background-color: plum;
  border: 1px solid white;

}


button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)
}

.resume {
  margin-top: 10px;
  padding-left: 200px;

}