.resume {
  margin-top:10px;
  padding-left:200px;
  border-color: lightgrey;

}

.modal input{
  margin-top: 10px;
  padding:20px;
}
.modal {
  border: 1px solid black;
  border-radius: 3px;
  margin: auto 0;
  box-shadow: 1px 3px 10px -3px black;
  display: block;
}

.modal header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid;
  padding: 10px;
  border-radius: 3px;
  color: white;
  background-color: rgb(5, 102, 222);
}


.mdoal h1 p {
  margin: 0;
  margin-bottom: 10px;
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  width: 100;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
}

.close {
  background-color: transparent;
  border: 0;
  padding: 0;
  color: red;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: blue;
}

nav {
  padding-top: 30px;
}
 .enviar{
  width: 100px;
  background-color: burlywood;
  color:black;
  border-radius: 15px;
}

button:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2)

}