.topo {
  margin-top: 50px;
  display: inline-block;
  margin-left: 100px;
  justify-content: space-around;
}

.movieId {
  margin-top: 10%;
  height: 100%;
  width: 70%;
  display: grid;
  margin-left: 100px;
  background-color: pink;
  box-shadow: 0 0 1em purple;
}
figure{
  display: grid;
}

img {
  width: 50px;
  height: 50px;
}